.holder {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  min-width: 40px;
}
.holderNormal {
  composes: holder;
  border: 2px dashed gold;
}
.holderActive {
  composes: holder;
  border: 4px dashed gold;
}